<h1>
    <%= title %>
</h1>
<div>
    <p>ID: <%= employer.id %>
    </p>
    <p>Name: <%= employer.name %>
    </p>
    <p>Company: <%= employer.company %>
    </p>
    <p>Email: <%= employer.email %>
    </p>
    <a href="/edit/employers/<%= employer.id %>">Chỉnh sửa</a>
</div>