<h1>Kết quả tìm kiếm cho "<%= query %>"</h1>

<h2>Người dùng</h2>
<ul>
    <% users.forEach(user=> { %>
        <li>
            <%= user.name %> - <%= user.email %>
        </li>
        <% }); %>
</ul>

<h2>Ứng viên</h2>
<ul>
    <% candidates.forEach(candidate=> { %>
        <li>
            <%= candidate.name %> - <%= candidate.email %>
        </li>
        <% }); %>
</ul>

<h2>Nhà tuyển dụng</h2>
<ul>
    <% employers.forEach(employer=> { %>
        <li>
            <%= employer.name %> - <%= employer.company %>
        </li>
        <% }); %>
</ul>

<h2>Công việc</h2>
<ul>
    <% jobs.forEach(job=> { %>
        <li>
            <%= job.title %> - <%= job.company %>
        </li>
        <% }); %>
</ul>