<h1>
    <%= title %>
</h1>
<div>
    <p>ID: <%= candidate.id %>
    </p>
    <p>Name: <%= candidate.name %>
    </p>
    <p>Resume: <%= candidate.resume %>
    </p>
    <p>Email: <%= candidate.email %>
    </p>
    <a href="/edit/candidates/<%= candidate.id %>">Chỉnh sửa</a>
</div>