<h1>
    <%= title %>
</h1>
<div>
    <p>ID: <%= job.id %>
    </p>
    <p>Title: <%= job.title %>
    </p>
    <p>Company: <%= job.company %>
    </p>
    <p>Description: <%= job.description %>
    </p>
    <a href="/edit/jobs/<%= job.id %>">Chỉnh sửa</a>
</div>