<h1>
    <%= title %>
</h1>
<div>
    <p>ID: <%= user.id %>
    </p>
    <p>Name: <%= user.name %>
    </p>
    <p>Email: <%= user.email %>
    </p>
    <a href="/edit/users/<%= user.id %>">Chỉnh sửa thông tin</a>
</div>